.team__swiper .team__swiper-pag {
   bottom: -30px;
}

.team__swiper .swiper-pagination-bullet {
   width: 8px;
   height: 8px;
   background: #FFFFFF;
   opacity: 0.5;
}

.team__swiper .swiper-pagination-bullet-active {
   opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets,
.team__swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
   bottom: -30px;
   left: 0;
   width: 100%;
}

.team__swiper.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.team__swiper.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 6px;
}

@media (max-width: 767px) {
   .team__swiper .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
   }
}

@media (max-width: 767px) {
   .swiper-horizontal>.swiper-pagination-bullets,
   .team__swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
   .swiper-pagination-custom,
   .swiper-pagination-fraction {
      bottom: -20px;
   }

   .team__swiper.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
   .team__swiper.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
   }
}